<footer class="footer">
  <div class="footer-inner">
        <div class="footer-content">
            <div class="content-area">
                <div class="footer-left">
                        <div class="followlink">
                            <a href="https://twitter.com/yeastar" target="blank" class="linkblock"><img src="{{asset 'twitter1.png'}}" /><img src="{{asset 'twitter_white1.png'}}" /></a>
                            <a href="https://www.facebook.com/yeastar" target="blank" class="linkblock"><img src="{{asset 'facebook.png'}}" /><img src="{{asset 'facebook-white.png'}}" /></a>
                            <a href="https://www.linkedin.com/company/Yeastar" target="blank" class="linkblock"><img src="{{asset 'linked.png'}}" /><img src="{{asset 'linked-white.png'}}" /></a>
                            <a href="https://www.youtube.com/YeastarVideo" target="blank" class="linkblock"><img src="{{asset 'youtube.png'}}" /><img src="{{asset 'youtube-white.png'}}" /></a>
                            <a href="https://www.xing.com/companies/yeastar" target="blank" class="linkblock"><img src="{{asset 'xing.png'}}" /><img src="{{asset 'xing-white.png'}}" /></a>
                            <a href="https://www.yeastar.com/subscribe" target="blank" class="linkblock"><img src="{{asset 'email.png'}}" /><img src="{{asset 'email-white.png'}}" /></a>
                        </div>
                </div>
                <div class="footer-right">
                    <div class="right-content">
                        <div class="contacts-nav"><a href="https://www.yeastar.com/legal/">Terms of Use</a> | <a href="https://www.yeastar.com/privacy/">Privacy Policy</a> | <a href="https://www.yeastar.com/cookie-policy/">Cookie Policy</a></div>
                    </div>
                </div>
                <div class="clear-float"></div>
            </div>
        </div>
  </div>
</footer>
