<header class="header">
    <div class="header-menu">
        <div class="logo">
            <a href="https://support.yeastar.com/hc/en-us"><img src="{{asset 'yeastar-logo.png'}}" alt="Yeastar">
            </a>
        </div>
        <div class="header-nav-menu">
            <ul class="nav-menu-1">
                <li><a class="menu-title">Products</a>
                <ul class="nav-menu-2 nav-menu-product">
                    <li class="has-children text-bg-gray">
                    <a href="javascript:void(0)">Communications</a>
                    <ul class="nav-menu-3">
                        <li class="weight-bold">
                            <a href="https://www.yeastar.com/p-series-pbx-system/">P-Series PBX System
                                <img src="{{asset 'arrow-right.svg'}}" class="img-svg" alt="P-Series PBX System">
                                <img src="{{asset 'arrow-right-active.svg'}}" class="img-svg" alt="P-Series PBX System">
                            </a>
                        </li>
                        <li><a href="https://www.yeastar.com/cloud-pbx/">P-Series Cloud Edition</a></li>
                        <li><a href="https://www.yeastar.com/software-pbx/">P-Series Software Edition</a></li>
                        <li><a href="https://www.yeastar.com/p-series-pbx-system/#appliance-edition/">P-Series Appliance Edition</a></li>
                    </ul>
                    </li>
                    <li class="has-children">
                        <a href="https://www.yeastar.com/unified-communications/linkus-softphone/">Linkus UC Clients
                            <img src="{{asset 'arrow-right.svg'}}" class="img-svg" alt="P-Series PBX System">
                            <img src="{{asset 'arrow-right-active.svg'}}" class="img-svg" alt="P-Series PBX System"></a>
                        <ul class="nav-menu-3">
                          <li><a href="https://www.yeastar.com/linkus-web-client/">Linkus Web Client</a></li>
                          <li><a href="https://www.yeastar.com/linkus-softphone/mobile/">Linkus Mobile Client</a></li>
                          <li><a href="https://www.yeastar.com/linkus-softphone/desktop/">Linkus Desktop Client</a></li>
                          <li class="menu-a-link"><a href="https://www.yeastar.com/linkus-download/">Download
                              <img src="{{asset 'down-active.svg'}}" class="down-link" alt="P-Series PBX System"></a></li>
                        </ul>
                    </li>
                    <li class="has-children menu-no-link">
                    <a>More VoIP Products</a>
                    <ul class="nav-menu-3">
                      <li><a href="https://www.yeastar.com/s-series-voip-pbx/">S-Series VoIP PBX</a></li>
                      <li><a href="https://www.yeastar.com/voip-gateways/">VoIP Gateways</a></li>
                    </ul>
                    </li>
                    <li class="text-bg-gray li-workplace"><a>Workplace Scheduling</a>
                    <ul class="nav-menu-3">
                        <li class="menu-intro"><a>A one-stop solution for employees to book meeting rooms and other office space easier and faster.</a></li>
                        <li class="menu-a-link"><a href="https://www.yeastar.com/yeastar-workplace/meeting-room-booking/">Learn More
                            <img src="{{asset 'arrow-right-active.svg'}}" class="learn-svg" alt="P-Series PBX System"></a></li>
                    </ul>
                    </li>
                    <li class="text-bg-gray"><a>5G CPE</a>
                    <ul class="nav-menu-3">
                        <li class="menu-intro"><a>Transforms 5G traffic into Wi-Fi or wired Ethernet signals.</a></li>
                        <li class="menu-a-link"><a href="https://www.yeastar.com/yeastar-5g-cpe/">Learn More
                            <img src="{{asset 'arrow-right-active.svg'}}" class="learn-svg" alt="P-Series PBX System"></a></li>
                    </ul>
                    </li>
                    <li class="has-children bgcolor-gray">
                        <a href="https://www.yeastar.com/yeastar-central-management/">Yeastar Central Management
                            <img src="{{asset 'arrow-right.svg'}}" class="img-svg" alt="P-Series PBX System">
                            <img src="{{asset 'arrow-right-active.svg'}}" class="img-svg" alt="P-Series PBX System"></a>
                        <ul class="nav-menu-3">
                          <li class="menu-intro"><a href="https://www.yeastar.com/linkus-web-client/">One platform to manage all</a></li>
                          <li class="menu-dot"><a href="https://www.yeastar.com/p-series-cloud-edition-turnkey/">Cloud PBX Service Delivery</a></li>
                          <li class="menu-dot"><a href="https://www.yeastar.com/remote-management/">Remote Management</a></li>
                          <li class="other-services menu-no-link"><a>Value Added Services</a></li>
                          <li><a href="https://www.yeastar.com/remote-access-service/">Remote Access Service</a></li>
                          <li><a href="https://www.yeastar.com/linkus-cloud-service/">Linkus Cloud Service</a></li>
                        </ul>
                    </li>
                </ul>
                </li>
                <li>
                    <a class="menu-title">Solutions</a>
                    <ul class="nav-menu-2 nav-menu-solution">
                        <li class="has-children">
                            <a href="https://www.yeastar.com/voip-solutions-business-needs/">Business Needs</a>
                        <ul class="nav-menu-3">
                            <li><a href="https://www.yeastar.com/remote-working-toolkit/">Work from Anywhere</a></li>
                            <li><a href="https://www.yeastar.com/hosted-business-voice-solution/">Hosted Voice</a></li>
                            <li><a href="https://www.yeastar.com/video-conferencing/">Video Conferencing</a></li>
                            <li><a href="https://www.yeastar.com/call-center/">Call Center</a></li>
                            <li><a href="https://www.yeastar.com/economical-and-efficient-branch-office-solution/">Branch Office</a></li>
                            <li class="menu-a-link"><a href="https://www.yeastar.com/voip-solutions-business-needs/">Learn More
                                <img src="{{asset 'arrow-right-active.svg'}}" class="img-svg" alt="P-Series PBX System"></a></li>
                        </ul>
                        </li>
                        <li class="has-children">
                        <a href="https://www.yeastar.com/voip-solutions-ecosystem/">Ecosystem</a>
                        <ul class="nav-menu-3">
                            <li><a href="https://www.yeastar.com/compatible-sip-terminals/">IP Phones</a></li>
                            <li><a href="https://www.yeastar.com/crm-and-cti-integration/">CRM Integration</a></li>
                            <li><a href="https://www.yeastar.com/solution/integrate-door-phones-ippbx/">Intercom</a></li>
                            <li><a href="https://www.yeastar.com/hotel-pms-integration/">Hotel PMS</a></li>
                            <li><a href="https://www.yeastar.com/sip-paging-application/">SIP Paging</a></li>
                            <li class="menu-a-link"><a href="https://www.yeastar.com/voip-solutions-ecosystem/">Learn More
                                <img src="{{asset 'arrow-right-active.svg'}}" class="img-svg" alt="P-Series PBX System"></a></li>
                        </ul>
                        </li>
                        <li class="has-children">
                        <a href="https://www.yeastar.com/voip-solutions-industry-verticals/">Industry</a>
                        <ul class="nav-menu-3">
                            <li><a href="https://www.yeastar.com/solution-hospitality-industry/">Hospitality</a></li>
                            <li><a href="https://www.yeastar.com/solution-schools-and-universities/">Education</a></li>
                            <li><a href="https://www.yeastar.com/solution-healthcare-industry/">Healthcare</a></li>
                            <li><a href="https://www.yeastar.com/solution-transportation-industry/">Transportation</a></li>
                            <li><a href="https://www.yeastar.com/solution-retail-industry/">Retail</a></li>
                            <li class="menu-a-link"><a href="https://www.yeastar.com/voip-solutions-industry-verticals/">Learn More
                                <img src="{{asset 'arrow-right-active.svg'}}" class="img-svg" alt="P-Series PBX System"></a></li>
                        </ul>
                        </li>
                        <li class="bgcolor-gray">
                        <a>Featured Solutionss</a>
                        <ul class="nav-menu-3">
                            <li><a href="https://www.yeastar.com/microsoft-teams-pbx-integration/"><img src="{{asset 'microsoft-teams-integration-icon.png'}}" alt="Solution">Microsoft Teams Integration</a></li>
                            <li><a href="https://www.yeastar.com/tpp/hikvision-intercom/"><img src="{{asset 'hikvision-intercom-integration-img.png'}}" alt="Solution">Hikvision Intercom Integration</a></li>
                            <li><a href="https://www.yeastar.com/voip-solution-to-isdn-switch-off/"><img src="{{asset 'isdn-switch-off-migration-icon.png'}}" alt="Solution">ISDN Switch-off Migration</a></li>
                        </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="menu-title">Resources</a>
                    <ul class="nav-menu-2 nav-menu-resources">
                        <li class="has-children"><a href="https://support.yeastar.com/hc/en-us/">Support Portal</a>
                        <ul class="nav-menu-3">
                            <li class="menu-intro"><a>For common problems and technical assistance</a></li>
                        </ul>
                        </li>
                        <li class="has-children"><a href="https://www.yeastar.com/resources/datasheet/">Datasheets</a>
                        <ul class="nav-menu-3">
                            <li class="menu-intro"><a>Product details such as features and specifications</a></li>
                        </ul>
                        </li>
                        <li class="has-children"><a href="https://www.yeastar.com/resources/brochures-ebooks/">Ebooks</a>
                        <ul class="nav-menu-3">
                            <li class="menu-intro"><a>Understand how Yeastar solves business challenges</a></li>
                        </ul>
                        </li>
                        <li class="menu-no-content"></li>
                        <li class="has-children"><a href="https://help.yeastar.com/en/">Document Center</a>
                        <ul class="nav-menu-3">
                            <li class="menu-intro"><a>Instruction and information on Yeastar products</a></li>
                        </ul>
                        </li>
                        <li class="has-children"><a href="https://www.yeastar.com/firmware-download/">Firmware</a>
                        <ul class="nav-menu-3">
                            <li class="menu-intro"><a>Latest firmware for Yeastar products</a></li>
                        </ul>
                        </li>
                        <li class="has-children"><a href="https://www.yeastar.com/resources/videos/">Videos</a>
                        <ul class="nav-menu-3">
                            <li class="menu-intro"><a>The best parts of Yeastar products in videos</a></li>
                        </ul>
                        </li>
                        <li class="menu-no-content"></li>
                        <li class="has-children"><a href="https://www.yeastar.com/category/blog/">Blog</a>
                        <ul class="nav-menu-3">
                            <li class="menu-intro"><a>Smart tips and latest trends in digital transformation</a></li>
                        </ul>
                        </li>
                        <li class="has-children"><a href="https://www.yeastar.com/webinars/">Webinars</a>
                        <ul class="nav-menu-3">
                            <li class="menu-intro"><a>Open and free webinars help you gain new skills</a></li>
                        </ul>
                        </li>
                        <li class="has-children"><a href="https://www.yeastar.com/resources/case-studies/">Customer Stories</a>
                        <ul class="nav-menu-3">
                            <li class="menu-intro"><a>Hear our customers share their success stories</a></li>
                        </ul>
                        </li>
                        <li class="menu-no-content"></li>
                        <li class="has-children bgcolor-gray"><a>Evaluation Guide</a>
                        <ul class="nav-menu-3">
                            <li class="menu-no-link"><a>Everything about Yeastar and Its Solutions</a></li>
                            <li><a><img src="{{asset 'resourecs-img.png'}}" class="menu-new-img" alt="Evaluation Guide">
                                All materials to evaluate Yeastar as a PBX vendor on products, solutions, partner program, support, learning resources, etc.</a></li>
                            <li class="menu-btn-link"><a href="https://www.yeastar.com/download-yeastar-evaluation-guide/"><span>Get the Guide</span></a></li>
                        </ul>
                        </li>
                        <li class="has-children"><a href="https://www.yeastar.com/resources/">All Resources
                            <img src="{{asset 'arrow-right-active.svg'}}" class="img-svg" alt="P-Series PBX System"></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="menu-title">Academy</a>
                    <ul class="nav-menu-2 nav-menu-academy">
                        <li class="has-children"><a href="https://www.yeastar.com/academy/">Academy</a>
                        <ul class="nav-menu-3">
                            <li class="menu-intro"><a>Get Yeastar training and be certified.</a></li>
                            <li class="menu-btn-link"><a href="https://www.yeastar.com/academy/"><span>Start Learning</span></a>
                                <img src="{{asset 'star-learn-img.png'}}" alt="Academy"></li>
                        </ul>
                        </li>
                        <li class="menu-no-content"></li>
                        <li class="has-children"><a href="https://www.yeastar.com/academy/online-training-schedule/">Online Training</a>
                        <ul class="nav-menu-3">
                            <li class="menu-intro"><a>Check the online training schedule.</a></li>
                        </ul>
                        </li>
                        <li class="menu-no-content"></li>
                        <li class="menu-no-content"></li>
                        <li class="has-children"><a href="https://www.yeastar.com/academy/onsite-training-schedule/">Onsite Training</a>
                        <ul class="nav-menu-3">
                            <li class="menu-intro"><a>Check the onsite training schedule</a></li>
                        </ul>
                        </li>
                        <li class="menu-no-content"></li>
                        <li class="menu-no-content"></li>
                        <li class="has-children">
                        <a href="https://www.yeastar.com/academy/training-partner-program/">Training Partner</a>
                        <ul class="nav-menu-3">
                            <li class="menu-intro"><a>Find a Training Partner that provides local training.</a></li>
                        </ul>
                        </li>
                        <li class="bgcolor-gray"><a href="https://www.yeastar.com/voip-telephone-system-features/">Feature Explained</a>
                        <ul class="nav-menu-3">
                            <li><a href="https://www.yeastar.com/voip-telephone-system-features/">Self-study</a></li>
                            <li><a href="https://www.yeastar.com/academy/video-training-course/">Take the Exam</a></li>
                            <li><a href="https://www.yeastar.com/academy/become-training-partner/">Become a Training Partner</a></li>
                            <li><a href="https://www.yeastar.com/academy/certification-verification/">Certificate Search</a></li>
                        </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="menu-title">Partners</a>
                    <ul class="nav-menu-2 nav-menu-partners">
                        <li class="has-children"><a href="https://www.yeastar.com/channel-program/"><img  src="{{asset 'become-a-partner-icon.png'}}" alt="Become a Partner"><br>Become a Partner</a>
                        <ul class="nav-menu-3">
                            <li class="menu-intro"><a>Join Yeastar Xcelerate Partner Program and grow your business.</a></li>
                        </ul>
                        </li>
                        <li class="has-children"><a href="https://www.yeastar.com/find-a-distributor/"><img  src="{{asset 'fina-adistributor-icon.png'}}" alt="Find a Distributor"><br>Find a Distributor</a>
                        <ul class="nav-menu-3">
                            <li class="menu-intro"><a>Yeastar Distributors support the sale of our solutions.</a></li>
                        </ul>
                        </li>
                        <li class="has-children"><a href="https://partner.yeastar.com/"><img  src="{{asset 'partner-portal-icon.png'}}" alt="Partner Portal"><br>Partner Portal</a>
                        <ul class="nav-menu-3">
                            <li class="menu-intro"><a>Find the tools and resources that help you grow.</a></li>
                        </ul>
                        </li>
                        <li class="bgcolor-gray"><a href="https://www.yeastar.com/itsp-partners/">ITSP Partners</a>
                        <ul class="nav-menu-3">
                            <li class="menu-intro" class="menu-intro"><a href="https://www.yeastar.com/technology-partners/">Technology Partners</a></li>
                            <li><a href="https://www.yeastar.com/unauthorized-online-reseller/">Unauthorized Online Reseller</a></li>
                        </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="menu-title">Company</a>
                    <ul class="nav-menu-2 nav-menu-company">
                        <li class="has-children"><a href="https://www.yeastar.com/about-us/">About Us</a>
                        <ul class="nav-menu-3">
                            <li><a>Who is Yeastar and why Yeastar.</a></li>
                        </ul>
                        </li>
                        <li class="has-children"><a href="https://www.yeastar.com/category/news/">Company News</a>
                        <ul class="nav-menu-3">
                            <li><a>Read all the news about Yeastar.</a></li>
                        </ul>
                        </li>
                        <li class="menu-no-content"></li>
                        <li class="has-children"><a href="https://www.yeastar.com/contact/">Contact Us</a>
                        <ul class="nav-menu-3">
                            <li><a href="#">Ways to get in touch with Yeastar team.</a></li>
                        </ul>
                        </li>
                        <li class="has-children"><a href="https://www.yeastar.com/awards/">Awards</a>
                        <ul class="nav-menu-3">
                            <li><a>Recognition for product excellence and for business performance</a></li>
                        </ul>
                        </li>
                        <li class="bgcolor-gray menu-no-link"><a>Featured</a>
                        <ul class="nav-menu-3">
                            <li><a href="https://www.yeastar.com/the-yeahs-awards-2021/">
                                <img src="{{asset 'the-yeahs-awards-2021-visual-theme.jpg'}}">
                                <span class="new-info">Showcase your Yeahs Story and win applause on social media! Here The Yeahs Awards 2021 entrance is still open and get the chance to win big prizes!</span></a></li>
                        </ul>
                        </li>
                    </ul>
                </li>
                <li class="free-trial"><a href="https://app.monstercampaigns.com/c/lwdzgtahopicau9jhovj/">Free Trial</a></li>
                <li class="search-globlt"><a class="searchIt" data-show="0"></a></li>
                <li class="search-globlt">
                <a class="globeIt" data-show="0"></a>
                <ul class="nav-menu-global" style="display: none;">
                    <li>
                    <a href="http://www.yeastar.com/">English</a>
                    </li>
                    <li>
                    <a href="https://www.yeastar.com/es">Español</a>
                    </li>
                    <li>
                    <a href="https://www.yeastar.com/it">Italiano</a>
                    </li>
                    <li>
                    <a href="https://www.yeastar.com/de">Deutsch</a>
                    </li>
                    <li>
                    <a href="https://www.yeastar.com/pl">Polskie</a>
                    </li>
                    <li>
                    <a href="http://www.yeastar.cn/">简体中文</a>
                    </li>
                </ul>
                </li>
            </ul>
            <div class="nav-menu-search" style="display: none;">
                <input type="text" id="csearch" name="csearch" placeholder="Search">
            </div>
        </div>
    </div>
  
  

  
  
  
  
  <div class="header-inner">
    <div class="logo">
      {{#link 'help_center'}}
       Support Community
      {{/link}}
    </div>
    <nav class="user-nav">
      {{#if alternative_locales}}
        <div class="dropdown language-selector" aria-haspopup="true">
          <a class="dropdown-toggle">
            {{current_locale.name}}
          </a>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          
        </div>
      {{/if}}
      
      {{#link 'new_request' class='submit-a-request'}}
      Submit a ticket
      {{/link}}
      {{user_info}}
    </nav>
  </div>
</header>